/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.09em;
	font-weight: 300;
}





/****************/
/* JOUW STYLING */
/****************/

h2 {
	font-size: 1.2em;
	font-weight: 550;
}

section {
	margin-bottom: 1rem;
}

.visually-hidden {  
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a {
    cursor: pointer;
}


/* Header NAV */

.logo  {
	width: 8rem;
    margin-right: auto;
}
  
.logo svg {
	width: 100%; 
	height: auto; 
}

.ZoekButton {
    display: flex;
    width: 2rem;
    background: none;
    border: none;
    margin-left: 3rem;
}

.ZoekSymb {
    width: 100%;
    height: auto;
}

.HartButton {
    display: flex;
    width: 2rem;
    background: none;
    border: none;
}

.HartSymb {
    width: 100%;
    height: auto;
}

.TasButton {
    display: flex;
    width: 2rem;
    background: none;
    border: none;
}

.TasSymb {
    width: 100%;
    height: auto;
}

.MenuButton {
    display: flex;
    width: 2rem;
    background: none;
    border: none;
    margin: 0.3rem 0 0 0;
}

.MenuSymb {
    width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 0rem;
    justify-content: end;
    gap: 0.8rem;
}

header {
    position: fixed;
    z-index: 999;
    background-color: white;
    top: 0;
    width: 100%;
    left: 0;
    padding-left: 0.5rem;
}



/* Holiday Collection Section */

.HolidayCollection {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 95vh;
    overflow: hidden;
    text-align: center;
	padding-top: 30rem;
}

.HolidayCollection video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    z-index: -1;
}

.HolidayCollection h2,
.HolidayCollection p {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 1rem 0; 
}

.HolidayCollection p {
	font-size: 0.8em;
	margin: 0 3rem 0 3rem;
}

.HolidayCollection ul {
    display: flex; 
    flex-wrap: wrap;
	gap: 1rem;
    padding: 0;
    margin: 3em 0; 
    list-style: none; 
    z-index: 1;
}

.HolidayCollection ul li a {
    color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.HolidayCollection ul li a:active {
    background-color: white;
    color: black;
}

.HolidayCollection ul li a:hover {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .HolidayCollection ul {
        flex-wrap: nowrap; 
        justify-content: space-evenly; 
    }

    .HolidayCollection ul li a {
        font-size: 0.9rem;
        text-align: center;
    }
}


/* Gifts for Her Section */

.GiftsHer {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; 
    padding: 1rem 0 0 1rem; 
	margin-bottom: 1rem;
}

.GiftsHer img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.GiftsHer h2 {
	color: rgb(255, 255, 255);
}

.GiftsHer a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.GiftsHer a:active {
    background-color: white;
    color: black;
}

main a:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}

/* Gifts for Him Section */

.GiftsHim {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; 
    padding: 1rem 0 0 1rem; 
}

.GiftsHim img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.GiftsHim h2 {
	color: rgb(255, 255, 255);
}

.GiftsHim a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.GiftsHim a:active {
    background-color: white;
    color: black;
}


/* Women's Bags Section */

.WomensBags {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; 
    padding: 1rem 0 0 1rem; 
}

.WomensBags img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.WomensBags h2 {
	color: rgb(0, 0, 0);
}

.WomensBags a {
	color: rgb(0, 0, 0);
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

.WomensBags a:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.WomensBags a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* Men's Bags Section */

.MensBag {
    position: relative; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; 
    padding: 1rem 0 0 1rem; 
}

.MensBag img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.MensBag h2 {
	color: rgb(0, 0, 0);
}

.MensBag a {
	color: rgb(0, 0, 0);
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

.MensBag a:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.MensBag a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* Women's Shoes Section */

.WomensShoes {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; 
    padding: 1rem 0 0 1rem; 
}

.WomensShoes img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.WomensShoes h2 {
	color: rgb(255, 255, 255);
}

.WomensShoes a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.WomensShoes a:active {
    background-color: white;
    color: black;
}


/* Men's Shoes Section */

.MensShoes {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; 
    padding: 1rem 0 0 1rem; 
}

.MensShoes img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.MensShoes h2 {
	color: rgb(255, 255, 255);
}

.MensShoes a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.MensShoes a:active {
    background-color: white;
    color: black;
}


/* Footer */

footer {
    margin: 0 0.5rem 0 0.5rem;
}

details summary {
  list-style: none; 
  position: relative; 
  cursor: pointer; 
  padding: 2rem 0 2rem 0;
  font-size: 0.8em;
  font-weight: 600;
}

details summary::marker {
  content: ''; /
}

details summary::after {
  content: '\25BC'; 
  position: absolute;
  right: 0; 
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

details[open] summary::after {
    transform: rotate(180deg);
}

details {
    position: relative;
}

details::before, 
details::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #d9dce0;
    transform: translateX(-2vh);
}

details ul{
    list-style: none;
    padding: 0;
}

details ul li {
    padding-bottom: 2rem;
    font-size: 0.8em;
    font-weight: 500;
}


input[type="email"] {
    border: none;
    border-bottom: 1px solid #000; 
    padding-bottom: 0.5rem; 
    font-size: 1rem; 
    width: 100%; 
    position: relative;
    margin-bottom: 1em;
}

footer h3 {
    font-size: 0.8em;
    font-weight: 600;
    margin: 6em 0 3em 0;
}

footer p {
    font-size: 0.6em;
}

footer p a {
    color: #000;
    font-weight: 600
}
