/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.09em;
	font-weight: 300;
}





/****************/
/* JOUW STYLING */
/****************/

h2 {
	font-size: 1.2em;
	font-weight: 550;
}

section {
	margin-bottom: 1rem;
}
/* Holiday Collection Section */

.HolidayCollection {
    position: relative;
    display: flex;
    flex-direction: column; /* Plaatst elementen onder elkaar */
    align-items: center; /* Centreert de inhoud horizontaal */
    justify-content: center; /* Centreert de inhoud verticaal */
    height: 95vh;
    overflow: hidden;
    text-align: center;
	padding-top: 30rem;
}

.HolidayCollection video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    object-fit: cover;
    z-index: -1;
}

.HolidayCollection h2,
.HolidayCollection p {
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin: 1rem 0; /* Ruimte tussen tekst */
}

.HolidayCollection p {
	font-size: 0.8em;
	margin: 0 3rem 0 3rem;
}

.HolidayCollection ul {
    display: flex; /* Zorg dat de knoppen naast elkaar staan */
    flex-wrap: wrap;
	gap: 1rem; /* Ruimte tussen de knoppen */
    padding: 0;
    margin: 3em 0; /* Ruimte boven en onder de lijst */
    list-style: none; /* Verwijder standaard lijststijl */
    z-index: 1;
}

.HolidayCollection ul li a {
    color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.HolidayCollection ul li a:active {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .HolidayCollection ul {
        flex-wrap: nowrap; /* Voorkomt dat de knoppen onder elkaar gaan */
        justify-content: space-evenly; /* Verdeel knoppen gelijkmatig */
    }

    .HolidayCollection ul li a {
        font-size: 0.9rem;
        text-align: center;
    }
}


/* Gifts for Her Section */

.GiftsHer {
    position: relative; /* Dit maakt het mogelijk om de inhoud bovenop de afbeelding te positioneren */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; /* De hoogte is de volledige viewport */
    padding: 1rem 0 0 1rem; /* Extra ruimte bovenin als je dat nodig hebt */
	margin-bottom: 1rem;
}

.GiftsHer img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.GiftsHer h2 {
	color: rgb(255, 255, 255);
}

.GiftsHer a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.GiftsHer a:active {
    background-color: white;
    color: black;
}


/* Gifts for Him Section */

.GiftsHim {
    position: relative; /* Dit maakt het mogelijk om de inhoud bovenop de afbeelding te positioneren */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; /* De hoogte is de volledige viewport */
    padding: 1rem 0 0 1rem; /* Extra ruimte bovenin als je dat nodig hebt */
}

.GiftsHim img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.GiftsHim h2 {
	color: rgb(255, 255, 255);
}

.GiftsHim a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.GiftsHim a:active {
    background-color: white;
    color: black;
}


/* Women's Bags Section */

.WomensBags {
    position: relative; /* Dit maakt het mogelijk om de inhoud bovenop de afbeelding te positioneren */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; /* De hoogte is de volledige viewport */
    padding: 1rem 0 0 1rem; /* Extra ruimte bovenin als je dat nodig hebt */
}

.WomensBags img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.WomensBags h2 {
	color: rgb(0, 0, 0);
}

.WomensBags a {
	color: rgb(0, 0, 0);
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

.WomensBags a:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


/* Men's Bags Section */

.MensBag {
    position: relative; /* Dit maakt het mogelijk om de inhoud bovenop de afbeelding te positioneren */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; /* De hoogte is de volledige viewport */
    padding: 1rem 0 0 1rem; /* Extra ruimte bovenin als je dat nodig hebt */
}

.MensBag img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.MensBag h2 {
	color: rgb(0, 0, 0);
}

.MensBag a {
	color: rgb(0, 0, 0);
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

.MensBag a:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


/* Women's Shoes Section */

.WomensShoes {
    position: relative; /* Dit maakt het mogelijk om de inhoud bovenop de afbeelding te positioneren */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; /* De hoogte is de volledige viewport */
    padding: 1rem 0 0 1rem; /* Extra ruimte bovenin als je dat nodig hebt */
}

.WomensShoes img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.WomensShoes h2 {
	color: rgb(255, 255, 255);
}

.WomensShoes a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.WomensShoes a:active {
    background-color: white;
    color: black;
}


/* Men's Shoes Section */

.MensShoes {
    position: relative; /* Dit maakt het mogelijk om de inhoud bovenop de afbeelding te positioneren */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    height: 60vh; /* De hoogte is de volledige viewport */
    padding: 1rem 0 0 1rem; /* Extra ruimte bovenin als je dat nodig hebt */
}

.MensShoes img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    z-index: -1;
}

.MensShoes h2 {
	color: rgb(255, 255, 255);
}

.MensShoes a {
	color: white;
    text-decoration: none;
	text-transform: uppercase;
    padding: 0.5rem 0.1rem;
    border-bottom: 1px solid white;
    transition: background-color 0.3s, color 0.3s;
}

.MensShoes a:active {
    background-color: white;
    color: black;
}